<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoIyNvV-LB--zzck3S-ZOaNSIB3-XZ5tI</string>
	<key>GCM_SENDER_ID</key>
	<string>642678179360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.CLCGrindsetApp</string>
	<key>PROJECT_ID</key>
	<string>grindsetfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>grindsetfirebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642678179360:ios:0f87d80a67c2dd2f351e45</string>
</dict>
</plist>